<div class="container">
    <div class="row justify-content-center align-items-center px-3 py-3">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="box p-2 text-center w-100">
                <img loading="lazy" src="assets/me.svg" class="img-fluid" alt="Profile Image">
            </div>
            <div class="row pt-3">
                <div class="col-6">
                    <div class="btn-div p-3 box text-center">
                        <h3 class="bg">CV</h3>
                    </div>
                </div>
                <div class="col-6 mt-md-0">
                    <div class="btn-div p-3 box text-center">
                        <h3 class="bg">Resume</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 mt-md-0 mt-3">
            <div class="row">
                <div class="col-md-3 mt-3 mt-lg-0">
                    <div class="p-3 box d-flex justify-content-center justify-content-md-start">
                        <img src="assets/icons/ic_outline-waving-hand.svg" class="bg hand" alt="Waving Hand Icon">
                        <h2 class="bg left-space">Hi.</h2>
                    </div>
                </div>
                <div class="col-md-9 mt-3 mt-lg-0">
                    <div class="p-3 box text-center text-md-left">
                        <div class="d-md-flex justify-content-center justify-content-md-start align-items-center">
                            <h2 class="bg right-space">Nice to meet you.</h2>
                            <p class="inner-box m-2 w-md-25">I'm Dev & Design</p>
                        </div>                        
                    </div>                    
                </div>
                <div class="col-md-12 mt-4">
                    <div class="p-3 box">
                        <div class="text-md-left">
                            <div class="d-flex">
                                <img loading="lazy" src="assets/icons/devil-outline.svg" class="bg img-fluid me-3" alt="Icon">
                                <h2 class="bg">About Me</h2>
                            </div>
                            <p class="text-ju">
                                Hello, I'm <span class="bg highlight">Sutee Vapeetam</span>, aka
                                <span class="bg highlight">&quot;T&quot;</span> or
                                <span class="bg highlight">&quot;Saint&quot;</span>, based in Bangkok. I'm deeply immersed in software
                                development, covering <span class="bg highlight">frontend</span>,
                                <span class="bg highlight">backend</span>, and <span class="bg highlight">mobile apps</span>. Fueled by a
                                passion for coding and design, I thrive on solving problems and drawing inspiration from minimalist
                                <span class="bg highlight">UX/UI</span> trends. Continuous learning is my mantra, whether through
                                online courses or hands-on experiences.
                                <br>
                                <br>
                                Collaboration drives my development ethos. Proficient in <span class="bg highlight">Agile</span>,
                                especially <span class="bg highlight">Scrum</span>, I excel at fostering teamwork and seamless workflows.
                                Challenges fuel my enthusiasm — I thrive in fast-paced environments where obstacles spark growth. Whether
                                untangling complex algorithms or refining user experiences, I tackle each task with unwavering
                                determination.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
