<div class="container">
    <div>
        <div class="despcription">
            I am a duck who likes to code and design
        </div>
        <div class="label-h1">
            <h1>Hi | I’m Sutee vapeetam</h1>
        </div>
        <div class="label">
            <div class="label-homepage">
                <div class="label-homepage-font ">
                    <div class="content">
                        <div class="content__container">
                            <div class="content__container__list">
                                <li class="content__container__list__item">Software Engineer</li>
                                <li class="content__container__list__item">UX/UI DESIGNER</li>
                                <li class="content__container__list__item">Duck Magicain</li>
                                <li class="content__container__list__item">ODDS TEAM</li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>