.contact-icons {
    padding: 10px;
}

.bar{
    background-color: #E0E5EC;
    
}

img:hover {
    border-radius: 10px;
    background: #E0E5EC;
    box-shadow: -4px 4px 8px 0px rgba(199, 204, 210, 0.20) inset, 4px -4px 8px 0px rgba(199, 204, 210, 0.20) inset, -4px -4px 8px 0px rgba(249, 254, 255, 0.90) inset, 4px 4px 10px 0px rgba(199, 204, 210, 0.90) inset;
}