<div class="px-5 pb-4 d-flex justify-content-center align-items-center w-100 fixed-bottom bar">
        <img class="contact-icons" src="assets/icons/facebook_icon.svg" alt="Facebook" (click)="openFacebook()">
        <img class="contact-icons" src="assets/icons/instagram_icon.svg" alt="Instagram" (click)="openInstagram()">
        <img class="contact-icons" src="assets/icons/linkedin_icon.svg" alt="LinkedIn" (click)="openLinkedIn()">
        <img class="contact-icons" src="assets/icons/github_icon.svg" alt="GitHub" (click)="openGitHub()">
        <img class="contact-icons" src="assets/icons/phone_icon.svg" alt="Phone" (click)="callPhoneNumber()">
        <img class="contact-icons" src="assets/icons/mail_icon.svg" alt="Mail" (click)="sendEmail()">
</div>